<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{url}}/static/css/materialize.min.css"  media="screen,projection"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{title}}</title>
    </head>

    <body>
        <nav>
{{~> navbar}}
        </nav>
        <div class="container">
            <div class="col s8">
                <div class="row center-align" />
                    <h4>Cargo #{{data.id}}</h4>
                </div>

                <div class="row">
                    <table class="stripped">
                        <thead>
                            <tr>
                                <th>Prop. name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Full Name</th>
                                <th>{{data.recipient.full_name}}</th>
                            </tr>
                            <tr>
                                <th>City</th>
                                <th>{{data.recipient.location.city}}</th>
                            </tr>
                            <tr>
                                <th>Zip code</th>
                                <th>{{data.recipient.location.zipcode}}</th>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <th>{{data.recipient.location.address1}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row center-align">
                    <a href="{{url}}/delivery/{{data.delivery_id}}" class="waves-effect waves-light btn-large">Delivery info</a>
                </div>

                <div class="row center-align">
                    <a href="{{url}}/shop/{{data.shop_id}}" class="waves-effect waves-light btn-large">Shop info</a>
                </div>

                <div class="row center-align">
                    <a class="waves-effect waves-light btn-floating modal-trigger red" href="#delete">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
        </div>

        <div id="delete" class="modal">
            <div class="modal-content">
                Are you sure about that?
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Nope</a>
                <a href="{{url}}/cargo/{{data.id}}/delete" class="waves-effect waves-light btn red">Let's do it!</a>
            </div>
        </div>

        <script type="text/javascript" src="{{url}}/static/js/materialize.min.js"></script>
        <script type="text/javascript">
            M.AutoInit();
        </script>
    </body>
</html>
